body {
	margin: 0;
	padding: 0;
	background-image: url(../img/page-bg.jpg);
	background-repeat: no-repeat;
	background-size: 1920px 2174px cover;
	width: 100%;
	
}

.wrapper {
	margin: 240px 720px;
	padding: 20px;
	width: 480px;
	box-sizing: border-box;
	background-color: white; 
}

.img1 {
	width: 400px;
	height: 150px;
}