.team-head {
    position: relative;
    margin: auto;
    text-align: center;
    margin-bottom: 6.875rem;
}

.team-head::before {
    content: '';
    display: block;
    width: 3.75rem;
    border: 2px solid var(--color-red);
    position: absolute;
    top: 130%;
    left: 50%;
    transform: translateX(-50%);
}

.team-intro {
    text-align: center;
    font-family: var(--ff-Ro);
    color: var(--color-grey);
    padding: 0 8.2rem;
    margin-bottom: 5.625rem;
}

.team-gallery {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}

.team-memb {
    position: relative;
    flex-basis: 30%;
    ;
}

figure {
    display: block;
    height: auto;
    margin: 0;
    padding: 0;
}

.member {
    position: relative;
}

.memb-title {
    text-align: center;
}

.memb-title h4 {
    font-family: var(--ff-Mo);
    font-size: var(--fs-smalr);
    color: var(--color-dark);
    text-transform: uppercase;
    font-weight: normal;
}

.memb-title p {
    font-family: var(--ff-Ro);
    font-size: var(--fs-smal);
    color: var(--color-grey);
    font-style: italic;
}

.memb-port {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: all 200ms linear 0s;
}

.memb-port img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.memb-port::before {
    position: absolute;
    display: none;
    z-index: 1;
    content: '';
    font-size: 20rem;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(243, 129, 129, 0.8), rgba(252, 227, 138, 0.8));
    box-shadow: 0.625rem 0.625rem 0rem 0px var(--color-green);
    transition: all 0s linear 5s;
}

.member:hover>.memb-port::before {
    display: block;
}

.member:hover>.memb-port {
    position: relative;
    top: -10px;
    left: -10px;
}

.social-group {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    width: 65%;
    height: 10%;
}

.social-icon {
    display: none;
    width: 1.5rem;
    height: 1.5rem;
    padding: 1rem;
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--color-yellow);
    transition: all 200ms linear;
}

.memb-port:hover .social-icon {
    display: block;
}

.bg-facebook {
    background-image: url(../img/social-icons/facebook.png);
}

.bg-facebook:hover {
    background-image: url(../img/social-icons/facebook-white.png);
}

.bg-instagram {
    background-image: url(../img/social-icons/instagram.png);
}

.bg-instagram:hover {
    background-image: url(../img/social-icons/instagram-white.png);
}

.bg-pinterest {
    background-image: url(../img/social-icons/pinterest.png);
}

.bg-pinterest:hover {
    background-image: url(../img/social-icons/pinterest-white.png);
}

.bg-twitter {
    background-image: url(../img/social-icons/twitter.png);
}

.bg-twitter:hover {
    background-image: url(../img/social-icons/twitter-white.png);
}

.social-icon:hover {
    background-color: var(--color-red);
}

.team {
    margin-bottom: 5rem;
}