* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background-image: url(../img/page-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	font-family: Arial;
	font-size: 12px;
	color: #4e5050;
}
h2 {
	font-family: "Pathway Gothic One";
	font-weight: normal;
	font-size: 30px;
	color: #333366;
}
h4 {
	color: #263555;
	font-size: 14px;
}
.wrapper {
	margin: 240px auto;
	padding: 50px;
	width: 480px;
	background-color: white; 
}

.img1 {
	width: 380px;
	height: 110px;
}

hr {
	margin: 60px 0;
}
.box, .box2 {
	display: inline-block;
	width: 185px;
	margin: 2px auto;
	padding: 2px;
	vertical-align: top;
}
.links ul{
	padding: 0;
}
ul li {
	list-style-type: none;
	margin-top: 15px;
}
.links a {
	text-decoration: none;
	color: #263555;
	font-size: 14px;
}