* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  /* display: block; */
}

ul li {
  list-style-type: none;
}

.wrapper--light {
  width: 100%;
  background-color: var(--color-white);
}

.wrapper--dark {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 2rem;
  background-color: var(--color-dark);
}

.container {
  width: 58.75rem;
  display: flex;
  margin: auto;
}
h2 {
  font-family: var(--ff-MonBo);
  font-size: 2.5rem;
  text-transform: uppercase;
  padding-bottom: 1.2rem;
}

h3 {
  font-family: var(--ff-PtSeIt);
  font-size: 1rem;
}

h4 {
  font-family: var(--ff-MonBo);
  font-size: 1.125rem;
  color: var(--color-dark);
  padding-bottom: 1.125rem;
}

input, textarea {
  display: block;
  padding: 1.25rem;
  /* width: 100%; */
  border: 1px solid #cccccc;
  border-radius: 2px;
  font-family: var(--ff-MonBo);
  font-size: 0.875rem;
  
}

input::-webkit-input-placeholder
{
  color: var(--color-light-grey);
  text-transform: uppercase;
}

textarea {
  resize: none;
  text-overflow: ellipsis;
  height: 100%;
}

textarea::-webkit-input-placeholder {
  color: var(--color-light-grey);
  text-transform: uppercase;
}