.contact-form {
  position: relative;
    margin: auto;
  padding-top: 6.875rem;
  width: 58.75rem;
  background-image: url(../img/backgrounds/contact-form/map-image.png);
  background-repeat: no-repeat;
  background-position: right;
  background-attachment: inherit;
  background-size: 50%;
  
}

.contact-content {
  width: 100%;
  padding-top: 6.875rem;
  }

.contact-title {
  width: 100%;
  text-align: center;
}

.contact-title h2 {
  color: var(--color-white);
}

.contact-title h3 {
  color: var(--color-grey);
}

.fill-content {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2rem;
}
.group-item {
  width: 48%;
}

.personal-data input{
  margin-bottom: 1rem;
}

.personal-data{
display: flex;
flex-direction: column;
justify-content: space-between;
}

.personal-data input:last-child {
  margin-bottom: 0;
}
.message-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input-opt:valid {
  outline: 1px solid green;
}

.input-opt:invalid {
  outline: 0.10rem solid red;
}

.input-opt:active {
  outline: 0.10rem solid  transparent;
}


.fill-send {
text-align: center;
}

.fill-in-group {
  width: 100%;
}

.button-send {
  padding: 1.56rem;
  width: 15rem;
  font-family: var(--ff-MonBo);
  font-size: 1.125rem;
  color: var(--color-white);
  background-color: var(--color-gold);
  border-radius: 2px;
  border: none;
  text-transform: uppercase;
}