.top {
	display: flex;
	flex-wrap: wrap-reverse;
	flex-direction: column;
	margin-bottom: 2rem;
}

.header {
	height: 540px;
}

.header {
	min-width: 320px;
	background-image: url('../img/bg/header320.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	box-sizing: border-box;
	text-align: center;
}

.header a,
.header h3,
.header p,
.header h1 {
	color: var(--color-white);
}

.loginblock {
	display: flex;
	order: 1;
	justify-content: space-between;
	width: 54%;
	margin: 0 auto;
	margin-bottom: 5.5rem;
	padding-top: 1.25rem;
}

.logo {
	order: 1;
}

.log-link {
	display: block;
	width: 100%;
	height: 100%;
	padding: 0.5rem 0;
	text-align: center;
	font-size: 0.875rem;
}

.login-item {
	width: 5.625rem;
}

.link-sign {
	border: 2px solid white;
	border-radius: 1.375rem;
}

.header-content {
	width: 19rem;
	margin: auto;
}

.header-content p {
	margin-bottom: 1.25rem;
	font-family: var(--ff-Rob);
	font-size: 1.125rem;
	font-weight: lighter;
}

.button-find {
	padding: 0.75rem 1rem;
	width: 17.5rem;
	font-family: var(--ff-Mon);
	font-weight: bold;
	font-size: 0.875rem;
	color: var(--color-white);
	background-color: var(--color-red);
	border: none;
	border-radius: 25px;
}

/* Media responsive Mobile-Tablet */

@media screen and (min-width:321px) and (max-width:480px) {
	.header {
		min-height: 540px;
		background-image: url('../img/bg/header768.jpg');
		background-position: top center;
	}
	.header-content {
		width: 100%;
	}
	.top {
		width: 20rem;
		margin: auto;
		margin-bottom: 2rem;
	}
	.loginblock {
		width: 85%;
	}
}

/* MEDIA TABLET */

@media screen and (min-width: 480px) {
	.header {
		min-width: 30rem;
		height: 700px;
		background-image: url('../img/bg/header768.jpg');
	}
	.top {
		width: 500px;
		margin: auto;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 20px 52px;
		padding-bottom: 0;
		margin-bottom: 8.5rem;
		padding-top: 2.5rem;
	}
	.logo {
		display: flex;
		align-items: center;
		order: 1;
		flex-basis: 186px;
	}
	.login {
		display: flex;
		align-items: center;
		flex-basis: 175px;
		order: 2;
	}
	.loginblock {
		display: flex;
		order: 1;
		justify-content: space-between;
		width: 100%;
		margin: 0 auto;
		padding-top: 0;
	}
	.header-content {
		width: 100%;
		padding: 0 1rem;
	}
	.header-content p {
		margin-bottom: 2rem;
		font-size: 1.5rem;
	}
	.button-find {
		width: 14rem;
	}
}

/* MEDIA RESPONSIVE TABLET-WIDE SCREEN */

@media screen and (min-width:700px) and (max-width:959px) {
	.header {
		background-image: url('../img/bg/header1440.jpg');
	}
	.top {
		width:43.75rem;
	}
}

/* MEDIA WIDE SCREEN */

@media screen and (min-width:960px) {
	.header {
		max-width: 1440px;
		margin: auto;
		background-image: url('../img/bg/header1440.jpg');
	}
	.top {
		width: 58.875rem;
		padding-top: 2rem;
	}
}