:root {
  --color-red: #ff4e50;
  --color-white: #ffffff;
  --color-gold: #ffa507;
  --color-aqua: #1cd7ad;
  --color-blue: #4e73db;
  --color-grey: #989898;
  --color-dark: #333333;
  --ff-Mon: 'Montserrat';
  --ff-Rob: 'Roboto';
}